* {
  margin: 0;
  padding: 0;
}

html{
  background-color: #eff0f3;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #0d0d0d;
}

.Image{
  width: 200px;
  margin: 10px auto;
}


.Text{
  width: 200px;
  margin: 10px auto;
}
