* {
  margin: 0;
  padding: 0;
}

html{
     margin: 20px;
  padding: 50px;
  background-color: #eff0f3;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #0d0d0d;
   text-align: center;
  box-sizing: border-box;
    
}

img{
opacity: 1.0;
   margin-left: auto;
  margin-right: auto;
  height: 300px;
  width:auto;
  border: 1.5px solid #2a2a2a;
    border-radius: 10px;
}

.Image{

}

.Text{
 width: 540px;
  margin-left: auto;
  margin-right: auto;
     background-color: #fffffe;
  border: 1px solid #2a2a2a;
      border-radius: 10px;
}
