* {
  margin: 0;
  padding: 0;
}

html{
     margin: 20px;
  padding: 50px;
  background-color: #f9f4ef;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #020826;
   text-align: center;
  box-sizing: border-box;
    
}

img{
 
opacity: 1.0;
  height: 300px;
  width:590px;
  border: 1.5px solid #020826;
    border-radius: 20px;
   border-bottom-style: none;
}

.Image{
margin:-30px;
}

.Text{
    padding:50px 25px 50px 25px;
 width: 540px;
  margin-left: auto;
  margin-right: auto;
     background-color: #eaddcf;
  border: 1px solid #020826;
      border-radius: 10px;
}

h1 {
   letter-spacing: 3px;
   text-transform: uppercase;
  color: #f25042;
   line-height: 1.5;
  font-size: 1.5rem;
     margin-bottom: 1rem
}

.quote{
    font-size: 18px;
   font-style: italic;
  text-transform: lowercase;
    line-height: 1.5;
     margin-bottom: 1rem
}

  .author{
    font-weight: bold;
    font-size: 14px;
    color: #8c7851;
     line-height: 1.5;
  }
  

